/* TEXT & FONTS */
code {
  border: 1px solid black;
  border-radius: 2.5px;
  background-color: #ddd;
  padding: .5%;
  margin-left: 2%;
}
.h1 {font-size: 24px;}
.h2 {font-size: 20px;}
.h3 {font-size: 16px;}
.p {font-size: 12px;}
.hilites {font-family: 'Krona One', sans-serif;}
.text {margin-bottom: 2%;}


/* COLOR PALLETTE */
.section-color {
  height: 150px;
  width: 1000px;
}
.colors {
  display: inline-block;
  height: 100px;
  width: 100px;
  border: 1px solid black;
}
#pri-1 {background-color: #76b9b7;}
#pri-2 {background-color: #469592;}
#pri-3 {background-color: #2b807d;}
#pri-4 {background-color: #176e6b;}
#pri-5 {background-color: #085754;}
#sec-1 {background-color: #ffcca3;}
#sec-2 {background-color: #f5ad73;}
#sec-3 {background-color: #d38547;}
#sec-4 {background-color: #b56626;}
#sec-5 {background-color: #8f470c;}
